build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/HelloWorld.sln
build/main.vcxproj
build/main.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.21.2/CMakeCCompiler.cmake
build/CMakeFiles/3.21.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.21.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.21.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.21.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.21.2/CMakeSystem.cmake
build/CMakeFiles/3.21.2/VCTargetsPath.txt
build/CMakeFiles/3.21.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.21.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.21.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.21.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.21.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.21.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.21.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.21.2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.21.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/b79875b6666b5e3f5e10a9cf5c40f719/generate.stamp.rule
build/Debug/main.exe
build/Debug/main.pdb
build/main.dir/Debug/main.exe.recipe
build/main.dir/Debug/main.ilk
build/main.dir/Debug/main.obj
build/main.dir/Debug/vc143.pdb
build/main.dir/Debug/main.tlog/CL.command.1.tlog
build/main.dir/Debug/main.tlog/CL.read.1.tlog
build/main.dir/Debug/main.tlog/CL.write.1.tlog
build/main.dir/Debug/main.tlog/CustomBuild.command.1.tlog
build/main.dir/Debug/main.tlog/CustomBuild.read.1.tlog
build/main.dir/Debug/main.tlog/CustomBuild.write.1.tlog
build/main.dir/Debug/main.tlog/link.command.1.tlog
build/main.dir/Debug/main.tlog/link.read.1.tlog
build/main.dir/Debug/main.tlog/link.write.1.tlog
build/main.dir/Debug/main.tlog/main.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
